Flask==2.2.5
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.23.5
opencv-python==4.8.0.76
openpyxl==3.1.2
pandas==1.5.3
pycryptodomex==3.19.0
Pillow==9.4.0
PyGithub==1.59.1
pyngrok==6.1.0
pytube==15.0.0
tensorflow==2.13.0
